    <div class="login-register" style="background-image:url(../../../assets/assets/images/background/telemedicine.jpeg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="index.html"
                (ngSubmit)="iniciar_sesion();"
                [formGroup]="loginForm"
                >
                <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/assets/images/background/logo-transparente.png" style="width: 140px; height: 190px;" alt="Home" /></a>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Username"
                                formControlName="email"> </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="campoNovalido('email')" >El correo es inválido</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Password"
                                formControlName="password"> </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="campoNovalido('password')" >La contraseña es inválida</p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>
                    
                </form>                
            </div>
        </div>
    </div>
